# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea/
sample_images/DSC_5086.JPG
sample_images/DSC_5085.JPG
sample_images/DSC_5084.JPG
sample_images/DSC_5083.JPG
sample_images/DSC_5082.JPG
sample_images/DSC_5081.JPG
sample_images/DSC_5080.JPG
sample_images/DSC_5079.JPG
sample_images/DSC_5109.JPG
sample_images/DSC_5108.JPG
sample_images/DSC_5107.JPG
sample_images/DSC_5106.JPG
sample_images/DSC_5105.JPG
sample_images/DSC_5103.JPG
sample_images/DSC_5102.JPG
sample_images/DSC_5100.JPG
sample_images/DSC_5099.JPG
sample_images/DSC_5098.JPG
sample_images/DSC_5096.JPG
sample_images/DSC_5095.JPG
sample_images/DSC_5092.JPG
sample_images/DSC_5091.JPG
sample_images/DSC_5089.JPG
sample_images/DSC_5088.JPG
sample_images/DSC_5111.JPG
sample_images/DSC_5110.JPG
sample_images/DSC_5094.JPG
sample_images/DSC_5101.JPG
initial_sample_files/
